/* indent with small text */

.publicationsmall {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: small;
    font-size: $type-size-5-5;
    border-left: 0.25em solid $primary-color;
  
    cite {
      font-style: italic;
  
      &:before {
        content: "\2014";
        padding-right: 5px;
      }
    }
  }

  /* indent */

.publications {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: normal;
    border-left: 0.25em solid $primary-color;
  
    cite {
      font-style: italic;
  
      &:before {
        content: "\2014";
        padding-right: 5px;
      }
    }
  }
  